<%- include('Templates/cabecera',{tituloweb:'Page Inicio'}) %>
<%- include('Templates/navbar',{Act:'active'}) %> 

<div class="container section-contenido ">
        
    <!-- Section: Contact v.1 -->
    <section class="my-12 margin shadow p-3 mb-5 bg-white rounded">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-lg-5 mb-lg-0 mb-4">

                <!-- Form with header -->
                <div class="card">
                    <div class="card-body">
                        <div class="form-header blue">
                            <h3 class="mt-2">Mascota</h3>
                        </div>
                        <div class="md-form">
                            <input type="text" id="form-name" class="form-control margin" placeholder="id">
                        </div>
                        <div class="md-form">
                            <input type="text" id="form-email" class="form-control margin" placeholder="Nombre">
                        </div>
                        <div class="md-form">
                            <input type="text" id="form-Subject" class="form-control margin" placeholder="Descripción">
                        </div>
                        <div class="text-left">
                            <button class="btn btn-info form shadow ">Agregar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>







        <table class="table table-striped margin shadow p-3 mb-5 bg-white rounded">
            <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Descripcion</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <% if (arraymascotas.length> 0) { %> <% arraymascotas.forEach(element=> {
                        %>
                        <tr>
                            <td>
                                <%=element.id%>
                            </td>
                            <td>
                                <%=element.nombre%>
                            </td>
                            <td>
                                <%=element.descripcion%>
                            </td>
                            <td>
                                <a href="" class="btn btn-info">
                                    <i class="far fa-edit"></i>
                                </a>
                                <a href="" class="btn btn-danger">
                                    <i class="far fa-trash-alt"></i>
                                </a>
                            </td>
                        </tr>
                        <% }) %>
                            <% } %>
            </tbody>
        </table>
    </div>

    <%- include('Templates/footer',{footerweb:'Footer mascotas'}) %>