<%- include('Templates/cabecera',{tituloweb:'Page Inicio'}) %>
    <div class="container section-contenido">

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Descripcion</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <% if (arraymascotas.length> 0) { %> <% arraymascotas.forEach(element=> { %>
                        <tr>
                            <td>
                                <%=element.id%>
                            </td>
                            <td>
                                <%=element.nombre%>
                            </td>
                            <td>
                                <%=element.descripcion%>
                            </td>
                            <td>
                                <a href="" class="btn btn-info">
                                    <i class="far fa-edit"></i>
                                </a>
                                <a href="" class="btn btn-danger">
                                    <i class="far fa-trash-alt"></i>
                                </a>
                            </td>
                        </tr>
                        <% }) %>
                            <% } %>
            </tbody>
        </table>
    </div>

    <%- include('Templates/footer',{footerweb:'Footer inicio'}) %>